/* UI Color Palette */
:root {
  /* Backgrounds & Borders */
  --bg-main: #090d16;
  --bg-card: #111827;
  --bg-card-hover: #1f2937;
  --border-color: #374151;

  /* Text */
  --text-main: #f3f4f6;
  --text-muted: #9ca3af;

  /* Teams */
  --color-team-a: #ffe6a0;
  --color-team-a-rgb: 251, 191, 36;
  --color-team-b: #b4e3ff;
  --color-team-b-rgb: 6, 182, 212;

  /* Neon Shadows */
  --shadow-neon-a: 0 0 15px rgba(255, 255, 255, 0.241);
  --shadow-neon-b: 0 0 15px rgba(255, 255, 255, 0.2);

  /* Chess Board Squares */
  --board-dark: #7d4309;
  --board-light: #b76a05;
  --board-label-color: rgba(105, 105, 105, 0.248);
  --color-hill-border: #430202;
  --color-lcr-separator: #f4f4f47b;
  --color-center-dot: #ffd90076;
  --flank_cross_color: #361010;

  /* Playing Cards */
  --color-card-black: #1e293b;

  /* Replay Control Panel */
  --replay-status-color: #6d2b2b77;
  --replay-live-color: #6d2b2b77;
  --replay-step-color: #f97316;

  /* Game Log Panel */
  --log-combat-color: #f97316;
  --log-error-color: #c50606;

  /* Board Move Dots */
  --legal-move-dot-color: #c5c6f38a;
  --attack-move-dot-color: #f91616d5;
  --capture-move-dot-color: #c50606cd;

  /* Board Highlights & Targets */
  --selected-cell-bg-color: rgba(239, 161, 6, 0.4);
  --selected-cell-border-color: #ffffff3c;
  --move-target-dot-bg-color: rgba(34, 197, 94, 0.7);
  --move-target-dot-shadow-color: #6d2b2b77;

  --attack-target-border-color: #f97316;
  --attack-target-pulse-start-color: rgba(249, 117, 22, 0.8);
  --attack-target-pulse-end-color: rgba(249, 117, 22, 0.3);

  --capture-target-border-color: #c50606;
  --capture-target-pulse-start-color: rgba(239, 68, 68, 0.8);
  --capture-target-pulse-end-color: rgba(239, 68, 68, 0.3);

  --king-pulse-color: #ff0202;

  /* Cards */
  --card-suit-red-color: #c50606;
  --selected-base-card-outline-color: #6d2b2b77;
  --clickable-pos-card-outline-color: #bfff00;
  --swap-instruction-color: #6d2b2b77;

  /* Player Status / Lobby Seats / Combat */
  --active-turn-indicator-color: #6d2b2b77;
  --combat-attacker-outline-color: #f7cd00ad;
  --combat-attacker-bg-color: rgba(129, 113, 37, 0.639);
  --combat-defender-outline-color: #cf0404;
  --combat-defender-bg-color: rgba(255, 2, 2, 0.383);
  --status-dot-on-color: #6d2b2b77;
  --dropped-rule-color: #6d2b2b77;
  --seat-human-border-color: #6d2b2b77;
  --online-player-human-color: #6d2b2b77;

  /* Errors */
  --error-text-color: #c50606;
  --error-bg-color: rgba(239, 68, 68, 0.12);
  --error-border-color: rgba(239, 68, 68, 0.3);
}